datajoint
numpy
seaborn
matplotlib
torch
pandas
scipy
torchvision
gitpython
pyyaml
scikit-learn
nnfabrik @ git+https://github.com/sinzlab/nnfabrik.git@29f22bc95841897d734532c02b77423e602ba21f
neuralpredictors
neuro-mei
